<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authsphere.server.account.mapper.AccountCredentialMapper">

    <resultMap id="BaseResultMap" type="com.authsphere.server.account.model.AccountCredential">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="accountId" column="account_id" jdbcType="BIGINT"/>
            <result property="realmId" column="realm_id" jdbcType="BIGINT"/>
            <result property="credentialType" column="credential_type" jdbcType="TINYINT"/>
            <result property="credentialValue" column="credential_value" jdbcType="VARCHAR"/>
            <result property="credentialSecret" column="credential_secret" jdbcType="VARCHAR"/>
            <result property="publicKey" column="public_key" jdbcType="VARCHAR"/>
            <result property="passwordSalt" column="password_salt" jdbcType="VARCHAR"/>
            <result property="passwordAlgo" column="password_algo" jdbcType="VARCHAR"/>
            <result property="passwordVersion" column="password_version" jdbcType="VARCHAR"/>
            <result property="pepperKeyId" column="pepper_key_id" jdbcType="VARCHAR"/>
            <result property="forceChange" column="force_change" jdbcType="BIT"/>
            <result property="expireAt" column="expire_at" jdbcType="TIMESTAMP"/>
            <result property="lastUsedAt" column="last_used_at" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account_id,realm_id,
        credential_type,credential_value,credential_secret,
        public_key,password_salt,password_algo,
        password_version,pepper_key_id,force_change,
        expire_at,last_used_at,status,
        create_time,update_time
    </sql>
</mapper>
