<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authsphere.server.realm.mapper.PasswordPolicyMapper">
    <select id="page" resultType="com.authsphere.server.realm.dto.PasswordPolicyListResponse">
        select
            id,
            code,
            name,
            min_length as minLength,
            max_length as maxLength,
            expire_days as expireDays,
            retry_limit as retryLimit,
            lock_minutes as lockMinutes,
            status,
            create_time,
            update_time
        from password_policy
        <where>
            <if test="request.name != null and request.name != ''">
                and `name` like concat('%', #{request.name}, '%')
            </if>
            <if test="request.code != null and request.code != ''">
                and `code` = #{request.code}
            </if>
            <if test="request.status != null">
                and `status` = #{request.status}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
