<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authsphere.server.realm.mapper.RealmMapper">
    <select id="page" resultType="com.authsphere.server.realm.dto.RealmPageResponse">
        select
        id,
        code,
        name,
        realm_type_id as realmTypeId,
        login_url as loginUrl,
        login_page_id as loginPageId,
        auth_policy_id as authPolicyId,
        status,
        create_time,
        update_time
        from realm
        <where>
            <if test="realmPageRequest.name != null and realmPageRequest.name != ''">
                and `name` like concat('%', #{realmPageRequest.name}, '%')
            </if>
            <if test="realmPageRequest.code != null and realmPageRequest.code  != ''">
                and `code` = #{realmPageRequest.code}
            </if>
            <if test="realmPageRequest.status != null">
                and `status` = #{realmPageRequest.status}
            </if>
            <if test="realmPageRequest.realmTypeId != null">
                and realm_type_id = #{realmPageRequest.realmTypeId}
            </if>
        </where>
        order by update_time desc, create_time desc
    </select>
</mapper>
