<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authsphere.server.realm.mapper.RealmMapper">
    <select id="page" resultType="com.authsphere.server.realm.dto.RealmPageResponse">
        select
        r.id,
        r.code,
        r.name,
        r.realm_type_id as realmTypeId,
        r.auth_policy_id as authPolicyId,
        r.register_enabled as registerEnabled,
        r.sso_enabled as ssoEnabled,
        r.sso_session_timeout as ssoSessionTimeout,
        r.sso_idle_timeout as ssoIdleTimeout,
        r.sso_single_logout as ssoSingleLogout,
        r.existing_session_handler as existingSessionHandler,
        r.no_client_id_handler as noClientIdHandler,
        r.password_policy as passwordPolicy,
        r.mfa_policy as mfaPolicy,
        r.unique_policy as uniquePolicy,
        (
            select count(1)
            from app_client ac
            where ac.default_realm_id = r.id
        ) as ssoClientCount,
        (
            select count(1)
            from account a
            where a.realm_id = r.id
        ) as accountCount,
        r.description,
        r.status,
        r.create_time,
        r.update_time
        from realm r
        <where>
            <if test="realmPageRequest.name != null and realmPageRequest.name != ''">
                and r.`name` like concat('%', #{realmPageRequest.name}, '%')
            </if>
            <if test="realmPageRequest.code != null and realmPageRequest.code  != ''">
                and r.`code` = #{realmPageRequest.code}
            </if>
            <if test="realmPageRequest.status != null">
                and r.`status` = #{realmPageRequest.status}
            </if>
            <if test="realmPageRequest.realmTypeId != null">
                and r.realm_type_id = #{realmPageRequest.realmTypeId}
            </if>
        </where>
        order by r.update_time desc, r.create_time desc
    </select>
</mapper>
