<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authsphere.server.app.mapper.AppClientMapper">

    <resultMap id="BaseResultMap" type="com.authsphere.server.app.model.AppClient">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="appId" column="app_id" jdbcType="BIGINT"/>
            <result property="appCode" column="app_code" jdbcType="VARCHAR"/>
            <result property="clientCode" column="client_code" jdbcType="VARCHAR"/>
            <result property="clientName" column="client_name" jdbcType="VARCHAR"/>
            <result property="clientType" column="client_type" jdbcType="TINYINT"/>
            <result property="clientSecret" column="client_secret" jdbcType="VARCHAR"/>
            <result property="defaultRealmId" column="default_realm_id" jdbcType="BIGINT"/>
            <result property="defaultEntryUrl" column="default_entry_url" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="builtIn" column="built_in" jdbcType="TINYINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,app_id,app_code,
        client_code,client_name,client_type,
        client_secret,default_realm_id,default_entry_url,
        status,built_in,description,create_time,
        update_time
    </sql>
</mapper>
